body {
background-color: #444;
color: #bebebe;
font-family: "IBM PLEX MONO", "Consolas", monospace;
}

h1 {
text-align: center;

}

.faggotry {
color: ff97f3;
}

.fuckit {
    height: 669px;
    width: 450px;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    font-family: "Source Sans Pro", system-ui;
    font-size: 15.5pt;
    padding-right: 1em;
}
.fuckit {
  --sb-track-color: #232E33;
  --sb-thumb-color: #ff97f3;
  --sb-size: 20px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

.fuckit::-webkit-scrollbar {
  width: var(--sb-size) 
}

.fuckit::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

.fuckit::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
  
  }
